/* color del fondo */
body {
margin: 0;
padding: 0;
background: #a1a2a2;
}

/* Color del encabezado*/
.nombre {
width: 100%;
height: 250px;
background: #29cfd5;
transform: skewY(4deg);
}
/* Ajustes de la pantalla */
.nombre .content {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;
}
/* Tipografias */
.nombre .content .uno {
color: azure;
font-family: 'Baloo Tamma 2', sans-serif;
font-weight: bolder;
font-size: 60px;
transform: skewY(-4deg);
margin-bottom: 0;
}

.nombre .content .dos {
    color: azure;
    font-family: 'Open Sans', sans-serif;
    font-size: 27px;
    transform: skewY(-4deg);
    margin-top: 0;
    margin-bottom: 0;
    }
    
.informa{
width: 85%;
height: auto;
background: #29cfd5;
margin: 4% auto;
padding: 15px;
border-radius: 20px;
}
.informa .titulo {
color: aliceblue;
font: "Baloo Tamma 2", sans-serif;
font-size: xx-large;
text-align: center;
border-bottom: 2px aliceblue solid;
}

.informa .tituloinfo {
    color: black;
    font-family: "Baloo Tamma 2", sans-serif;
    font-weight: bolder;
    font-size: large;
    display: contents;
    margin-right: 20px;
}

.informa .info{
    color: black;
    font-family: "Baloo Tamma 2", sans-serif;
    font-weight: normal;
    font-size: large;
    display: contents;
}
/* FOTO */
.nombre .img {
    position: absolute;
    top: 11%;
    right: 9%;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    transform: skewY(-4deg);
    overflow: hidden;
}

.nombre .img img {

    width: 270px;
    height: 210px;
}

